.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    width: 300px;

    font-weight: bold;
    font-size: 20px;
}

.nav-bar .link {
    color: gray;
}

.nav-bar .link:hover {
    color: black;
}

.nav-bar .selected {
    color: black;
}

